name = "chainhost-subdomain-router"
main = "subdomain-router.js"
compatibility_date = "2024-01-01"
account_id = "1e154bc12873eef5423dffecfdeae043"
workers_dev = false
preview_urls = false

[[routes]]
pattern = "*.chainhost.online/*"
zone_name = "chainhost.online"
